# -----------------------
# Unity Specific
# -----------------------
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Aa]ssets/AssetStoreTools*

# -----------------------
# File Extensions
# -----------------------
*.csproj
*.unity
*.sln
*.apk
*.swp
*.*~
*.pyc

# -----------------------
# Directories
# -----------------------
Assets/CustomWaifu/*
Assets/CustomMaps/*
Assets/MagicaCloth2
Assets/AddressableAssetsData/*

# -----------------------
# User-Specific
# -----------------------
*.suo
*.user
*.userosscache
*.sln.docstates

# -----------------------
# Misc
# -----------------------
.project
.projectprefs
.userprefs
project.lock.json
.DS_Store

# -----------------------
# Visual Studio Code
# -----------------------
.vscode

# -----------------------
# JetBrains Rider
# -----------------------
.idea

# -----------------------
# Addressable Asset Data
# -----------------------
Assets/AddressableAssetsData/Android/addressables_content_state.bin
Assets/AddressableAssetsData/AssetGroups/Default Local Group.asset
Assets/AddressableAssetsData/iOS/addressables_content_state.bin
Assets/AddressableAssetsData/OSX/addressables_content_state.bin
Assets/AddressableAssetsData/Windows/addressables_content_state.bin

# -----------------------
# Misc Project Specific
# -----------------------
MagicaClothV2.csproj
MagicaClothV2.Editor.csproj
MagicaCloth2UPMImporterShaderGraph.csproj
MagicaClothV2UPMImporterBurst.csproj
MagicaClothV2UPMImporterCollections.csproj

