Library/
Logs/
Temp/
Recordings/
waifuverse.apk
Waifuverse_CORE.apk
Assets/Japanese City Megapack
Assets/Japanese_Street
Assets/Karasuma_v1
Assets/CustomWaifu
Assets/Toon Fantasy Nature/
_WebGL_waifuverse/index.zip
_DesktopBuild/
Builds/*
_DesktopBuild/WaifuverseAIGF_Data/sharedassets0.assets.resS
_DesktopBuild\WaifuverseAIGF_Data\sharedassets0.assets.resS